

        .silex-id-1539779121431-1 > textarea {border-width: 0px; border-style: solid; font-family: Verdana, Geneva, sans-serif; font-weight: normal; font-size: 12px;
        }
        .silex-id-1539779121431-1 {top: 30px; left: 20px; height: 80px; width: 480px;
        }
        .silex-id-1539779528605-5 > input {border-width: 0px; border-style: solid;
        }
        .silex-id-1539779761672-7 > input {border-width: 0px; border-style: solid;
        }
        .silex-id-1539779713969-6 > input {border-width: 0px; border-style: solid;
        }
        .silex-id-1539817892070-2 {top: 213px; left: 321px; height: 20px; width: 100px; font-weight: bold; text-align: left; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539817266452-22 {top: 236px; left: 60px; height: 1.4em; width: 100px; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539779160066-2 {top: 0px; left: 20px; height: 20px; width: 320px; font-family: Verdana, Geneva, sans-serif; font-weight: bold; font-size: 16px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 518px; height: 691px;
        }
        .silex-id-1539818054980-4 {top: 265.8px; left: 60px; height: 1.4em; width: 100px; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539829659307-17 {top: 295.597px; left: 60px; height: 1.4em; width: 100px; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539829659331-20 {top: 325.394px; left: 60px; height: 1.4em; width: 100px; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539829662103-23 {top: 355.191px; left: 60px; height: 1.4em; width: 100px; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539829662125-26 {top: 384.988px; left: 60px; height: 1.4em; width: 100px; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539816957431-14 {top: 236px; left: 26px; height: 22px; width: 18px; font-family: Verdana, Geneva, sans-serif; text-align: left; font-weight: bold;
        }
        .silex-id-1539817026262-17 {top: 265.8px; left: 26px; height: 22px; width: 22px; font-family: Verdana, Geneva, sans-serif; text-align: left; font-weight: bold;
        }
        .silex-id-1539817063206-18 {top: 295.597px; left: 26px; height: 22px; width: 27px; font-family: Verdana, Geneva, sans-serif; font-weight: bold;
        }
        .silex-id-1539817082716-19 {top: 325.394px; left: 26px; height: 22px; width: 18px; font-family: Verdana, Geneva, sans-serif; font-weight: bold;
        }
        .silex-id-1539817102716-20 {top: 355.191px; left: 26px; height: 21px; width: 24px; font-family: Verdana, Geneva, sans-serif; font-weight: bold;
        }
        .silex-id-1539817121887-21 {top: 384.988px; left: 26px; height: 30px; width: 27px; font-family: Verdana, Geneva, sans-serif; text-align: left; font-weight: bold;
        }
        .body-initial {background-color: rgb(255, 255, 255); font-size: 12px; width: 300px; height: 680px;
        }
        .silex-id-1539817335375-23 {top: 236px; left: 180px; height: 1.4em; width: 100px; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539818054984-5 {top: 265.8px; left: 180px; height: 1.4em; width: 100px; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539829659336-21 {top: 325.394px; left: 180px; height: 1.4em; width: 100px; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539829662116-24 {top: 355.191px; left: 180px; height: 1.4em; width: 100px; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539829662131-27 {top: 384.988px; left: 180px; height: 1.4em; width: 100px; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539817756587-1 {top: 236px; left: 320px; height: 16px; width: 140px; font-family: Verdana, Geneva, sans-serif; text-align: left;
        }
        .silex-id-1539818054989-6 {top: 265.8px; left: 320px; height: 16px; width: 140px; font-family: Verdana, Geneva, sans-serif; text-align: left;
        }
        .silex-id-1539829659321-18 {top: 296px; left: 180px; height: 1.4em; width: 100px; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539829659326-19 {top: 296px; left: 320px; height: 16px; width: 140px; font-family: Verdana, Geneva, sans-serif; text-align: left;
        }
        .silex-id-1539829659339-22 {top: 325.394px; left: 320px; height: 16px; width: 140px; font-family: Verdana, Geneva, sans-serif; text-align: left;
        }
        .silex-id-1539829662120-25 {top: 355.191px; left: 320px; height: 16px; width: 140px; font-family: Verdana, Geneva, sans-serif; text-align: left;
        }
        .silex-id-1539829662134-28 {top: 384.988px; left: 320px; height: 16px; width: 140px; font-family: Verdana, Geneva, sans-serif; text-align: left;
        }
        .silex-id-1539779267980-3 {top: 121px; left: 20px; height: 18px; width: 75px; font-family: Verdana, Geneva, sans-serif; font-size: 12px; font-weight: bold;
        }
        .silex-id-1539816594260-13 {top: 171px; left: 20px; height: 18px; width: 64px; font-weight: bold; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539816560178-12 {top: 146.5px; left: 20px; height: 17px; width: 64px; font-weight: bold; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539779528605-5 {top: 121px; left: 88px; height: 1.4em; width: 100px; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539779713969-6 {top: 146.5px; left: 89px; height: 1.4em; width: 100px; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539779761672-7 {top: 171px; left: 89px; height: 1.4em; width: 100px; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539818167605-7 {top: 464px; left: 23px; height: 18px; width: 64px; font-weight: bold; text-align: left; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539818200412-8 {top: 488px; left: 23px; height: 21px; width: 70px; font-weight: bold; text-align: left; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539818270315-9 {top: 512px; left: 23px; height: 19px; width: 67px; font-weight: bold; text-align: left; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539819870654-11 {top: 464px; left: 106px; height: 16px; width: 179px;
        }
        .silex-id-1539829326344-12 {top: 488px; left: 106px; height: 16px; width: 179px;
        }
        .silex-id-1539829343194-13 {top: 512px; left: 106px; height: 16px; width: 179px;
        }
        .silex-id-1539829439657-14 {top: 464px; left: 322px; height: 16px; width: 162px;
        }
        .silex-id-1539829619565-15 {top: 488px; left: 322px; height: 16px; width: 162px;
        }
        .silex-id-1539829621385-16 {top: 512px; left: 322px; height: 16px; width: 162px;
        }
        .silex-id-1539829989328-34 {top: 441px; left: 108px; height: 16px; width: 149px; font-family: Verdana, Geneva, sans-serif; font-weight: bold;
        }
        .silex-id-1539830074066-35 {top: 441px; left: 322px; height: 20px; width: 184px; font-family: Verdana, Geneva, sans-serif; font-weight: bold; text-align: left;
        }
        .silex-id-1539829841356-32 {top: 564px; left: 375px; height: 64px; width: 64px;
        }
        .silex-id-1539829846527-33 {top: 564px; left: 442px; height: 64px; width: 64px;
        }
        .silex-id-1539817933731-3 {top: 213px; left: 60px; height: 20px; width: 80px; font-weight: bold; text-align: left; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1539829833385-31 {top: 561px; left: 25px; height: 100px; width: 342px; display: flex; font-family: Verdana, Geneva, sans-serif;
        }
    